.heading{
  font-family: 'Nunito', sans-serif;
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 40px;
}

.first{
  margin-top: 15px;
}

.row{
  display: flex;
  flex-direction: row;
}

.serviceBox{
  color: #555;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 14px 0 0;
  }
  .serviceBox .service-icon{
  color: #fff;
  background: #0B7274;
  font-size: 45px;
  line-height: 103px;
  width: 95px;
  height: 100px;
  margin: 0 auto 65px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  } 
  .serviceBox .service-icon:before,
  .serviceBox .service-icon:after{
  content: "";
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border: 5px solid #0B7274;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  }
  .serviceBox .service-icon:after{
  background-color: #0B7274;
  height: 40px;
  width: 35px;
  border-radius: 0;
  border: none;
  transform: translateX(-50%) translateY(0) rotate(0);
  top: calc(100% + 10px);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  }
  .serviceBox .title{
  color: #0B7274;
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 10px;
  }
  .serviceBox .description{
  font-size: 15px;
  line-height: 25px;
  margin: 0;
  }
  .serviceBox.pink .service-icon,
  .serviceBox.pink .service-icon:after{
  background-color: #0B7274;
  }
  .serviceBox.pink .service-icon:before{
  border-color: #0B7274;
  border-left-color: transparent;
  border-top-color: transparent;
  }
  .serviceBox.pink .title{ color: #0B7274; }
  .serviceBox.purple .service-icon,
  .serviceBox.purple .service-icon:after{
  background-color: #583DA6;
  }
  .serviceBox.purple .service-icon:before{
  border-color: #583DA6;
  border-left-color: transparent;
  border-top-color: transparent;
  }
  .serviceBox.purple .title{ color: #583DA6; }
  .serviceBox.green .service-icon,
  .serviceBox.green .service-icon:after{
  background-color: #0EBAB3;
  }
  .serviceBox.green .service-icon:before{
  border-color: #0EBAB3;
  border-left-color: transparent;
  border-top-color: transparent;
  }
  .serviceBox.green .title{ color: #0EBAB3; }
  @media only screen and (max-width: 990px){
  .serviceBox{ margin: 0 -3px 40px; }
  }



/* 
.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 9rem;
  margin-bottom: 13rem; */
  /* scroll view */
  /* padding-top: 3rem;
} */
/* left side */
/* .awesome {
  display: flex;
  flex-direction: column;
  position: relative; */
  /* gap: 20px; */
/* }

.awesome > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.awesome > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}
.s-button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
} */
/* right sided */
/* .cards {
  position: relative;
}
.cards > * {
  position: absolute;
} */

/* blur */
/* .s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 17rem;
  }
  .cards > * {
    position: static;
  }
} */
